<app-menu-title></app-menu-title>
<div class="container_articles">
  <div class="articles_main">
    <app-big-card
      Id="1"
      photoCover="https://a.storyblok.com/f/178900/1920x1080/f22d9db52c/schleim-staffel-3.png/m/1200x0/filters:quality(95)format(webp)"
      cardTitle="3ª temporada de That Time I Got Reincarnated as a Slime ganha novo trailer, data de estreia e adições ao elenco"
      cardDescription="10 novos membros do elenco foram revelados e música de encerramento também foi divulgada"
    ></app-big-card>
  </div>
  <div class="articles_others">
    <div *ngFor="let item of dataFake as CardData">
      <app-small-card 
        [id]="item.id + 1"
        [photoCover]="item.photoCover"
        [title]="item.title"
      ></app-small-card>
    </div>
  </div>
</div>
